{% extends "admin/base.html" %}
{% load static %} {% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | Portal de la Institución{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin_custom.css' %}">
{% endblock %}


{% block branding %}
<div id="branding-custom">
    <a href="{% url 'admin:index' %}">
        <span class="site-name-text">Sistema de asistencia de Becarios</span>
    </a>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}